@import "reset";
@import "mixins";
@import "extends";

body {
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: main;
}

.item-3 {
  grid-area: sidebar;
}

.item-4 {
  grid-area: footer;
}

// header start

#header {
  height: 70px;
  overflow: hidden;

  @include mobile {
    height: 120px;
  }

  .desktop__header {
    @include mobile {
      display: none;
    }
  }

  .mobile__header {
    display: none;
    @include mobile {
      @include flexbox(column);
    }
  }

  .header {
    width: 100%;
    height: 70px;
    padding: 0 50px;
    @extend %d-flex;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #fff;

    @include mobile {
      row-gap: 15px;
      height: 140px;
      padding: 10px 20px;
      justify-content: space-between;
    }

    &__logo {
      letter-spacing: 3px;
      font-size: 35px;
    }

    &__categories {
      width: 350px;
      @extend %d-flex;
    }

    &__category {
      a {
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    form {
      width: 500px;
      position: relative;

      @include mobile {
        width: 100%;
      }

      input[type="search"] {
        width: 100%;
        background-color: #d3d3d352;
        padding: 10px 40px;
        font-size: 15px;
        @extend %input;
      }

      img {
        position: absolute;
        left: 10px;
        top: 8px;
      }
    }

    &__user {
      @extend %d-flex;
      width: 200px;
      &--info {
        a {
          @include flexbox(column);
          align-items: center;
          row-gap: 5px;
          img {
            width: 22px;
          }

          p {
          }
        }
      }

      .active {
        border-bottom: 3px solid red;
        border-radius: 3px;
      }
    }
  }
}

// main start
#main {
  .products {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 30px 20px;
    flex-wrap: wrap;
    cursor: pointer;
    // animation: rotate-center 3s linear 1s both;
    animation-name: transformProducts;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    // animation: transformProducts 3s  1s 1;

    @include tablet {
      width: 93%;
    }

    @include mobile {
      padding: 20px 0;
    }

    &__title {
      margin-top: 1em;
      text-align: center;
      font-size: 25px;
      letter-spacing: 1.2px;
      color: #ea2626;
    }

    .product {
      width: 350px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      &__image {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 8px;
      }

      &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
      }

      &__name {
        opacity: 0.7;
        letter-spacing: 1px;
      }

      &__price {
        font-weight: 700;

        &::before {
          content: "$ ";
        }
      }

      .top {
        width: 100%;
        position: relative;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// footer start
#footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 30px 50px;

  @include mobile {
    flex-direction: column;
  }

  .navigation {
    @include tablet {
      column-gap: 30px;
    }
  }

  .navigation,
  .form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;
    &__list {
      letter-spacing: 1px;

      &--title {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      &--item {
        margin-bottom: 8px;
        opacity: 0.6;
      }
    }
  }

  a {
    color: #fff;
  }

  .form {
    width: 350px;
    flex-direction: column;

    @include tablet {
      margin-left: 10px;
    }

    @include mobile {
      width: 100%;
      margin-top: 2em;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        color: #fff;
        outline: none;
      }

      input[type="email"] {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #d3d3d375;
        font-size: 17px;
        padding-bottom: 8px;
        letter-spacing: 1px;
      }

      input[type="submit"] {
        margin-top: 30px;
        height: 50px;
        background-color: #ff4600;
        border: none;
        border-radius: 8px;
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

// animations
@keyframes transformProducts {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
