html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: #000;
}

#header .header__user, #header .header__categories, #header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header form input[type=search] {
  border: none;
  outline: none;
  border-radius: 8px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: main;
}

.item-3 {
  grid-area: sidebar;
}

.item-4 {
  grid-area: footer;
}

#header {
  height: 70px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  #header {
    height: 120px;
  }
}
@media only screen and (max-width: 767px) {
  #header .desktop__header {
    display: none;
  }
}
#header .mobile__header {
  display: none;
}
@media only screen and (max-width: 767px) {
  #header .mobile__header {
    display: flex;
    flex-direction: column;
  }
}
#header .header {
  width: 100%;
  height: 70px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  #header .header {
    row-gap: 15px;
    height: 140px;
    padding: 10px 20px;
    justify-content: space-between;
  }
}
#header .header__logo {
  letter-spacing: 3px;
  font-size: 35px;
}
#header .header__categories {
  width: 350px;
}
#header .header__category a {
  letter-spacing: 1px;
  text-transform: uppercase;
}
#header .header form {
  width: 500px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  #header .header form {
    width: 100%;
  }
}
#header .header form input[type=search] {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.3215686275);
  padding: 10px 40px;
  font-size: 15px;
}
#header .header form img {
  position: absolute;
  left: 10px;
  top: 8px;
}
#header .header__user {
  width: 200px;
}
#header .header__user--info a {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}
#header .header__user--info a img {
  width: 22px;
}
#header .header__user .active {
  border-bottom: 3px solid red;
  border-radius: 3px;
}

#main .products {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 30px 20px;
  flex-wrap: wrap;
  cursor: pointer;
  -webkit-animation-name: transformProducts;
          animation-name: transformProducts;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@media only screen and (max-width: 991px) {
  #main .products {
    width: 93%;
  }
}
@media only screen and (max-width: 767px) {
  #main .products {
    padding: 20px 0;
  }
}
#main .products__title {
  margin-top: 1em;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1.2px;
  color: #ea2626;
}
#main .products .product {
  width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#main .products .product__image {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
#main .products .product__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
#main .products .product__name {
  opacity: 0.7;
  letter-spacing: 1px;
}
#main .products .product__price {
  font-weight: 700;
}
#main .products .product__price::before {
  content: "$ ";
}
#main .products .product .top {
  width: 100%;
  position: relative;
}
#main .products .product .bottom {
  display: flex;
  justify-content: space-between;
}

#footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 30px 50px;
}
@media only screen and (max-width: 767px) {
  #footer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 991px) {
  #footer .navigation {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
#footer .navigation,
#footer .form {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 20px;
}
#footer .navigation__list,
#footer .form__list {
  letter-spacing: 1px;
}
#footer .navigation__list--title,
#footer .form__list--title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#footer .navigation__list--item,
#footer .form__list--item {
  margin-bottom: 8px;
  opacity: 0.6;
}
#footer a {
  color: #fff;
}
#footer .form {
  width: 350px;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  #footer .form {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  #footer .form {
    width: 100%;
    margin-top: 2em;
  }
}
#footer .form form {
  display: flex;
  flex-direction: column;
}
#footer .form form input {
  color: #fff;
  outline: none;
}
#footer .form form input[type=email] {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(211, 211, 211, 0.4588235294);
  font-size: 17px;
  padding-bottom: 8px;
  letter-spacing: 1px;
}
#footer .form form input[type=submit] {
  margin-top: 30px;
  height: 50px;
  background-color: #ff4600;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

@-webkit-keyframes transformProducts {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes transformProducts {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}
/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */